.container{
    width:30vw;
    margin-top: 5%;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c1beb9;
    padding: 15px;
    
}